/* Header on landing page */
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(10, 10, 10);

}

h1 {
    text-align: center;
    /* background-color: purple; */
    color: white;
}

h3 {
    width: 50%;
    text-align: center;
}

/* Start button */
#start{
    background-color: greenyellow;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 50px;
    margin: auto;
}

#start:hover{
    background-size: 100%;
    background-image: linear-gradient(45deg,#ff712f, #adff2f, #1c0ee6);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
}

.btn-div{
    display: flex;
    margin-top: 150px;
}

/* Heading Screen Span */
.fun {
    background-size: 100%;
    background-image: linear-gradient(45deg,#ff712f, #adff2f, #1c0ee6);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    /* color: #adff2f; */
    font-size: 80px;
}

#quiz-container{
    display: flex;
    text-align: left;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 20px;
}

button{
    width: 20%;
    margin-bottom: 20px;
    background-color: greenyellow;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 20px;
}

button:hover {
    background-size: 100%;
    background-image: linear-gradient(45deg,#ff712f, #adff2f, #1c0ee6);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    cursor: pointer;
}

h3 {
    color: white;
    font-size: 50px;
}

#time-element{
    display: flex;
    color: white;
    margin: auto;
    text-align: center;
    width: 5%;
    font-size: 50px;
    font-weight: bold;
}

#quiz-over{
    display: flex;
    color: white;
    margin: auto;
    text-align: center;
    width: 50%;
    font-size: 50px;
    font-weight: bold;
    margin-top: 100px;
}

.rules{
    font-size: 20px;
    color: #adff2f;
    margin-bottom: 30px;
}

.good-luck{
    color: white;
    margin-top: 40px;
}


@media only screen and (max-width: 600px){
    #start{
        background-color: greenyellow;
        padding: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        border: 2px solid white;
        border-radius: 5px;
        font-size: 20px;
        margin: auto;
    } h3 {
        color: white;
        font-size: 30px;
    }button{
        width: 50%;
        margin-bottom: 30px;
        margin-top: 30px;;
        background-color: greenyellow;
        padding: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        border: 2px solid white;
        border-radius: 5px;
        font-size: 20px;
    } #quiz-over{
        display: flex;
        color: white;
        margin: auto;
        text-align: center;
        width: 50%;
        font-size: 40px;
        font-weight: bold;
        margin-top: 100px;
    }
}
